<% content_for(:title_tag) do %>
  <%= @pokemon.name %>
<% end %>
<div class="container">
  <div class="row">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-8">
        <div class="big_card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @pokemon.bgpic_url %>')">
          <div class="card-category">
            <%= @pokemon.name %>
          </div>
          <div class="card-description">
            <p>Taille: <%= @pokemon.height %> m</p>
            <p>Poids: <%= @pokemon.weight %> kg</p>
          </div>
          <div class="big_badge-container">
            <div class="badge badge-bordered">
              <% @pokemon.types.each do |type| %>
                <%= link_to type_path(type) do %>
                  <%= cl_image_tag type.pic_url, :width=>60, :crop=>"fill" %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <%= link_to "Retour au Pokédex", pokemons_path, class: "btn btn-primary" %>
      </div>
      <div class="col-xs-2">
      </div>
  </div>
</div>











